* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #fafafa;
}

header {
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 0px 10px rgb(141, 57, 236);
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.h-flex {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  .home_inst {
    display: flex;
    .logo {
      display: flex;
      justify-content: center;
      align-self: center;
      border-right: 1px solid black;
      img {
        width: 60px;
        -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
        filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
        margin-right: 25px;
      }
    }
  }
  .links {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: flex;
      text-decoration: none;
      align-items: center;
      align-self: center;
      align-content: center;
      justify-content: center;
      justify-self: center;
      justify-items: center;
      li {
        margin: 0 20px;
        display: flex;
        text-decoration: none;
        align-items: center;
        align-self: center;
        align-content: center;
        justify-content: center;
        justify-self: center;
        justify-items: center;
        &:hover {
          border-bottom: 2px solid black;
        }
        .menu__links {
          font-size: 18px;
          display: flex;
          text-decoration: none;
          align-items: center;
          align-self: center;
          align-content: center;
          justify-content: center;
          justify-self: center;
          justify-items: center;
        }
      }
    }
  }
}

.feed {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
  padding-right: 1rem;
}
.left {
  max-width: 650px;
  padding: 0 1rem;
}

.post__name {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
}
.post__descr {
  padding: 0 20px;
  margin-top: 10px;
}
.insta_font {
  height: 90px;
  margin-left: 25px;
}
.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #000;
  img {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
  }
  div {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
  }
}
.min {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 7px 0;
  img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
  }
  div {
    margin-left: 20px;
    font-size: 14px;
    font-weight: 400;
  }
}
.users {
  height: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 20px rgb(141, 57, 236);
  border-radius: 10px;
  .user_line {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(141, 57, 236);
    box-shadow: 0px 0px 20px rgb(141, 57, 236);
  }
}
.icon_div {
  display: flex;
  padding: 0 20px;
  flex: 1;
  .size_icon {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 10px;
    cursor: pointer;
  }
}
.users__block {
  margin-top: 20px;
  padding: 20px;
  width: 265px;
  min-height: 260px;
  background: #ffffff;
  border: 1px solid rgba(70, 0, 255, 0.1);
  box-shadow: 0px 0px 20px rgba(70, 0, 255, 0.15);
  border-radius: 4px;
}
.profile {
  margin-top: 70px;
  margin-bottom: 50px;
}
.palette {
  max-width: 2000px;
  padding: 20px;
  margin: 2rem auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1;
  justify-content: center;
  img {
    width: 20%;
    flex-basis: 250px;
    flex-grow: 1;
    margin: 10px;
    height: 300px;
    object-fit: cover;
    position: relative;
  }
}
.animateloading {
  width: 20px;
  height: 400px;
  position: absolute;
  justify-self: center;
  align-self: center;
  left: 50%;
  top: 50%;
  transform: translatex(-50%, -50%);
  animation-name: spinner;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.likes {
  padding: 0 20px;
  margin-top: 10px;
}

.date {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
  color: darkcyan;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.is-active {
  color: red;
}

.container_carousel {
  max-width: 2000px;
  padding: 20px;
  margin: 2rem auto;
  .photo_carousel {
    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
    }
  }
  .slick-list {
    height: 100%;
  }
  .slick-track {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }
  .slick-slider {
    height: 400px;
    position: relative;
  }
  .slick-slide {
    margin: 0 10px;
    margin-top: 30px;
    opacity: 0.7;
    transition: 1s;
  }
  .slick-center {
    opacity: 1;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 5px;
    transition: 1s;
  }
  .slick-current div {
    -webkit-box-shadow: 0px 3px 0px 2px rgba(70, 0, 255, 0.1),
      0px 6px 0px 4px rgba(70, 0, 255, 0.1),
      0px 9px 0px 6px rgba(70, 0, 255, 0.1),
      0px 12px 0px 8px rgba(70, 0, 255, 0.1),
      0px 15px 0px 10px rgba(70, 0, 255, 1),
      0px 18px 0px 12px rgba(70, 0, 255, 0.1),
      0px 21px 0px 14px rgba(70, 0, 255, 1),
      0px 24px 0px 16px rgba(70, 0, 255, 1),
      0px 27px 0px 18px rgba(70, 0, 255, 1),
      0px 30px 0px 20px rgba(70, 0, 255, 1),
      -2px 30px 6px -7px rgba(67, 28, 255, 0);
    box-shadow: 0px 3px 0px 2px rgba(70, 0, 255, 0.1),
      0px 6px 0px 4px rgba(70, 0, 255, 0.1),
      0px 9px 0px 6px rgba(70, 0, 255, 0.1),
      0px 12px 0px 8px rgba(70, 0, 255, 0.1),
      0px 15px 0px 10px rgba(70, 0, 255, 0.1),
      0px 18px 0px 12px rgba(70, 0, 255, 0.1),
      0px 21px 0px 14px rgba(70, 0, 255, 0.1),
      0px 24px 0px 16px rgba(70, 0, 255, 0.1),
      0px 27px 0px 18px rgba(70, 0, 255, 0.1),
      0px 30px 0px 20px rgba(70, 0, 255, 0.1),
      -2px 20px 6px -7px rgba(67, 28, 255, 0);
    transition: 1s;
  }

  .slick-arrow {
    color: white;
    z-index: 2;
    position: absolute;
    top: 180px;
    height: 40%;
    border-radius: 10px;
    width: 50px;
    transition: 0.2s;
    background: linear-gradient(
      0deg,
      #fd8607 0%,
      #e6683c 30%,
      #dc2743 50%,
      #cc2366 70%,
      #3902ffb6 100%
    );
    &:hover {
      height: 50%;
      transition: 0.2s;
    }
  }
  .slick-arrow.slick-prev {
    left: 20px;
    background-color: transparent;
  }
  .slick-arrow.slick-next {
    right: 20px;
  }
  .slick-next {
    background-color: transparent;
    &:before {
      content: "〉";
      font-size: 50px;
      opacity: 1;
      color: rgb(0, 0, 0);
      position: absolute;
      padding-bottom: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-prev {
    &:before {
      content: "〈";
      opacity: 1;
      font-size: 50px;
      color: rgb(0, 0, 0);
      position: absolute;
      padding-bottom: 15px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .slick-dots {
    li {
      margin-left: 30px;
      button {
        &:before {
          font-size: 20px;
          width: 30px;
          height: 15px;
          position: absolute;
          top: 0;
          left: 0;
          content: "";
          text-align: center;
          opacity: 0.45;
          background-color: black;
          transition: 1s;
        }
      }
    }
    li.slick-active {
      button {
        &:before {
          opacity: 1;
        }
      }
    }
  }
  .slick-active {
    top: -10px;
    transition: 1s;
    div {
      display: flex;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .container_carousel {
    .slick-slide {
      opacity: 1;
    }
    .slick-current div {
      box-shadow: none;
    }
    .slick-arrow {
      color: white;
      z-index: 2;
      position: absolute;
      top: 0px;
      height: auto;
      border-radius: 10px;
      width: 50px;
      &:hover {
        height: auto;
      }
    }
    
    .slick-next {
      &:before {
        font-size: 40px;
        width: 50px;
        height: 50px;
        padding:0;
        background-color: gray;
        border-radius:35px;
        color: rgb(255, 255, 255);
      }
    }
    .slick-prev {
      &:before {
        font-size: 40px;
        width: 50px;
        height: 50px;
        padding:0;
        background-color: gray;
        border-radius:35px;
        color: rgb(255, 255, 255);
      }
    }
  }
}

.post {
  margin-bottom: 70px;
  width: 100%;
  height: auto;
  background: #ffffff;
  box-shadow: 0px 0px 20px rgb(117, 6, 243);
  border-radius: 10px;
  padding: 5px 0;
  .user {
    margin: 12px 12px;
  }
  > img {
    width: 100%;
    height: 420px;
    object-fit: cover;
  }
}

.center {
  justify-content: center;
  margin-bottom: 70px;
  margin: 0 auto;
  max-width: 650px;
  padding: 0 1rem;
  .add_btns {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 2rem;
    > button {
      width: 40%;
      cursor: pointer;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      outline: none !important;
      color: white;
      font-size: 20px;
      border: 1px solid rgb(226, 52, 52);
      padding: 0.5rem 1rem;
      border-radius: 10px;
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #471ddfb6 100%
      );
      transition: 0.2s;
      &:hover {
        width: 43%;
        transition: 0.2s;
        box-shadow: 0px 0px 10px rgb(253, 21, 13);
      }
    }
  }
  .post_input {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #ffffff;
    border: 1px solid rgb(153, 0, 255);
    box-shadow: 0px 0px 10px rgb(123, 26, 250);
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 70px;
    > input {
      border: 1px solid rgb(153, 0, 255);
      box-shadow: 0px 0px 5px rgb(123, 26, 250);
      width: 45%;
      margin: 0 auto;
      padding: 0.4rem 1rem;
      margin-bottom: 1rem;
      outline: none !important;
      border-radius: 10px;
      transition: 0.3s;
      color: rgb(0, 0, 0);
      &:focus {
        width: 70%;
        transition: 0.2s;
        border: 1px solid rgb(250, 0, 0);
        box-shadow: 0px 0px 5px rgb(255, 6, 6);
      }
      &:hover {
        width: 70%;
        transition: 0.2s;
        border: 1px solid rgb(250, 0, 0);
        box-shadow: 0px 0px 5px rgb(255, 6, 6);
      }
    }
    > button {
      width: 20%;
      cursor: pointer;
      margin: 0 auto;
      background: linear-gradient(
        45deg,
        #f09433 0%,
        #e6683c 25%,
        #dc2743 50%,
        #cc2366 75%,
        #471ddfb6 100%
      );
      color: white;
      padding: 0.5rem 1rem;
      border: 1px solid rgb(226, 52, 52);
      border-radius: 10px;
      transition: 0.2s;
      outline: none !important;
      &:hover {
        width: 23%;
        transition: 0.2s;
        box-shadow: 0px 0px 10px rgb(253, 21, 13);
      }
    }
  }
  .ds_none {
    display: none;
  }
  .mypost {
    margin-top: 2rem;
    .remove_post {
      display: flex;
      justify-content: flex-end;
      margin-right: 10px;
      > p {
        cursor: pointer;
        color: red;
        border: 1px solid gray;
        font-size: 20px;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 908px) {
  .feed {
    flex-direction: column;
  }
  .left {
    order: 2;
    margin: 0 auto;
  }
  .users {
    max-width: 250px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }
}
@media only screen and (max-width: 647px) {
  .h-flex {
    padding: 0 5px;
    .links {
      ul {
        li {
          margin: 0 5px;
          .menu__links {
            font-size: 16px;
          }
        }
      }
    }
    .home_inst {
      .logo {
        img {
          width: 40px;
          margin-right: 5px;
        }
      }
    }
  }

  .insta_font {
    margin-left: 5px;
  }
  .container_carousel {
    .slick-dots {
      li {
        margin-left: 10px;
      }
    }
  }
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
    background-color: red;
  }
  25% {
    transform: rotate(90deg);
    background-color: green;
  }
  50% {
    transform: rotate(180deg);
    background-color: yellow;
  }
  75% {
    transform: rotate(270deg);
    background-color: black;
  }
  100% {
    background-color: blue;
    transform: rotate(360deg);
  }
}
img {
  display: block;
}
