* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #fafafa;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

header {
  height: 90px;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.logo {
  display: flex;
  justify-content: center;
  align-self: center;
  border-right: 1px solid black;
}

.logo img {
  width: 60px;
  -webkit-filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  filter: drop-shadow(4px 4px 10px rgba(0, 0, 0, 0.25));
  margin-right: 25px;
}

.h-flex {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.home_inst {
  display: flex;
}
.links ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.links ul li {
  margin: 0 20px;
}
.links ul li:hover {
  border-bottom: 2px solid black;
}

.menu__links {
  font-size: 18px;
  color: #000000;
  text-decoration: none;
}

.feed {
  display: flex;
  justify-content: space-around;
  margin-top: 70px;
}

.left {
  max-width: 850px;
}

.post .user {
  margin: 12px 12px;
}

.post > img {
  width: 100%;
  height: 420px;
  object-fit: cover;
}

.post__name {
  padding: 10px 20px;
  font-weight: 500;
  font-size: 18px;
}

.post__descr {
  padding: 0 20px;
  margin-top: 10px;
}
.insta_font {
  height: 90px;
  margin-left: 25px;
}

.user {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
  color: #000;
}

.user img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  object-fit: cover;
}

.user div {
  margin-left: 20px;
  font-size: 18px;
  font-weight: 500;
}

.min {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 7px 0;
}

.min img {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  object-fit: cover;
}

.min div {
  margin-left: 20px;
  font-size: 14px;
  font-weight: 400;
}
.users {
  height: 100%;
  padding: 1rem;
  box-shadow: 0px 0px 30px rgb(141, 57, 236);
  border-radius: 10px;
}
.user_line {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid rgb(141, 57, 236);
  box-shadow: 0px 0px 30px rgb(141, 57, 236);
}

.users__block {
  margin-top: 20px;
  padding: 20px;
  width: 265px;
  min-height: 260px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.profile {
  margin-top: 70px;
  margin-bottom: 50px;
}

.palette {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  flex: 1;
  justify-content: center;
}

.palette img {
  width: 20%;
  flex-basis: 250px;
  flex-grow: 1;
  margin: 10px;
  height: 300px;
  object-fit: cover;
  position: relative;
}
.aniamteloading {
  width: 20px;
  height: 400px;
  position: absolute;
  justify-self: center;
  align-self: center;
  left: 50%;
  top: 50%;
  transform: translatex(-50%, -50%);
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.icon_div {
  display: flex;
  padding: 0 20px;
  flex: 1;
}
.size_icon {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.likes {
  padding: 0 20px;
  margin-top: 10px;
}
.center {
  justify-content: center;
  margin-bottom: 70px;
  margin: 0 auto;
  width: 650px;
}
.post {
  margin-bottom: 70px;
  width: 650px;
  min-height: 560px;
  background: #ffffff;
  /* border: 1px solid rgba(133, 29, 253, 0.986); */
  box-shadow: 0px 0px 30px rgb(117, 6, 243);
  border-radius: 10px;
  padding: 10px 0px;
}
.mypost {
  margin-top: 2rem;
}
.date {
  display: flex;
  align-items: flex-end;
  padding-right: 20px;
  color: darkcyan;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.post_input {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 650px;
  background: #ffffff;
  border: 1px solid rgba(250, 26, 26);
  box-shadow: 0px 0px 10px rgb(250, 26, 26);
  border-radius: 4px;
  padding: 2rem;
  margin-top: 2rem;
  margin-bottom: 70px;
}
.post_input > input {
  border:1px solid rgb(153, 0, 255);
  box-shadow: 0px 0px 5px rgb(123, 26, 250);
  width: 45%;
  margin: 0 auto;
  padding: .4rem 1rem;
  margin-bottom: 1rem;
  outline: none !important;
  border-radius: 10px;
  transition: .2s;
  color:rgb(0, 0, 0);
}
.post_input > input:focus{
  width: 70%;
  transition: .2s;
  border:1px solid rgb(250, 0, 0);
  box-shadow: 0px 0px 5px rgb(255, 6, 6);
}
/* .post_input > input:a */
.post_input > button {
  width: 20%;
  margin: 0 auto;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #471ddfb6 100%
  );
  color: white;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(226, 52, 52);
  border-radius: 10px;
  transition: 0.2s;
  outline: none !important;
}

.post_input > button:hover {
  width: 23%;
  transition: 0.2s;
  box-shadow: 0px 0px 10px rgb(253, 21, 13);
}

.ds_none {
  display: none;
}
.add_btns {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 2rem;
}
.add_btns > button {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  outline: none !important;
  color: white;
  font-size: 20px;
  border: 1px solid rgb(226, 52, 52);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #471ddfb6 100%
  );
  transition: 0.2s;
}
.add_btns > button:hover {
  width: 43%;
  transition: 0.2s;
  box-shadow: 0px 0px 10px rgb(253, 21, 13);
}
.is-active{
  color:red;
}

@keyframes example {
  0% {
    transform: rotate(0deg);
    background-color: red;
  }
  25% {
    transform: rotate(90deg);
    background-color: green;
  }
  50% {
    transform: rotate(180deg);
    background-color: yellow;
  }
  75% {
    transform: rotate(270deg);
    background-color: black;
  }
  100% {
    background-color: blue;
    transform: rotate(360deg);
  }
}
